*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 10px;
}
body{
    background-color: rgb(0, 247, 255);
    width:100%;
    height: 100vh;

}

h1{
    text-align: center;
    font-size: 6rem;
    color: white;
}


p{
    font-size: 3rem;
    text-align: center;
    color: white;
    font-weight: bold;



}

.container{
    margin:6rem 0rem;
}

.flex-box{

    /* border:2px solid red; */
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    

}




.btn{
    padding:1rem 4rem;
    display:block;
    margin: 1rem auto;
    border-radius: 1rem;
    border-width: 0;
    background-color: black;
    color: white;
    transition: all 650ms;
    border:0.5rem groove;
    

}

.btn:hover{
    background-color: rgb(230, 24, 24);
    cursor: pointer;
    
}



@media screen and (max-width:50rem) {
     
    .flex-box{

        /* border:2px solid red; */
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        
    
    }

    h1{

        font-size: 3rem;
       
    }
    
    
    p{
        font-size: 2rem;
   
    
    
    
    }

}